<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a herf="http://railstutorial.org/help">Rails Tutorial contact page</a>
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">contact page</a>.
</p>